@import url('@tabler/icons-webfont/tabler-icons.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *::selection {
    @apply bg-orange-200 text-orange-900;
  }

  html {
    @apply h-full scroll-p-4 !scroll-smooth bg-orange-50 font-sans text-neutral-700 md:scroll-p-16;

    font-variation-settings: 'wght' 400;
    font-optical-sizing: auto;
  }

  body {
    @apply flex h-full flex-col;

    background: linear-gradient(to bottom, #ffedd5 4rem, #fff7ed 32rem, #fff7ed 100%);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif font-normal lowercase !leading-tight text-pink-800;
  }

  a {
    @apply rounded text-pink-800 underline-offset-4 hover:text-pink-900 focus:outline-none focus:ring-2 focus:ring-pink-800/75;
  }

  a:hover {
    @apply underline underline-offset-4;
  }
}
