@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* ----- fonts ----- */
  --font-serif:
    var(--font-nightingale), serif, ui-serif, georgia, cambria, 'Times New Roman', times, serif;
  --font-sans:
    var(--font-figtree), sans-serif, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  /* ----- colors ----- */
  --color-black: #111;
  --color-white: #fff;

  /* dusty rose */
  --color-dusty-rose-50: #faf5f7;
  --color-dusty-rose-100: #f7ecf0;
  --color-dusty-rose-200: #f0dae3;
  --color-dusty-rose-300: #e5bccc;
  --color-dusty-rose-400: #d393aa;
  --color-dusty-rose-500: #c3718e;
  --color-dusty-rose-600: #ae546f;
  --color-dusty-rose-700: #a24860;
  --color-dusty-rose-800: #7b394a;
  --color-dusty-rose-900: #683340;
  --color-dusty-rose-950: #3e1922;

  /* ----- breakpoints ----- */
  --breakpoint-xxs: 375px;
  --breakpoint-xs: 425px;
  --breakpoint-md-lg: 992px;

  /* ----- animations ----- */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-marquee-slow: marquee 120s linear infinite;
  --animate-marquee-normal: marquee 90s linear infinite;
  --animate-marquee-fast: marquee 60s linear infinite;

  /* ----- keyframes ----- */
  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(calc(-100% - 1.5rem));
    }
  }
}

@layer base {
  *::selection {
    @apply bg-dusty-rose-200 text-dusty-rose-950 dark:bg-dusty-rose-300;
  }

  html {
    font-variation-settings: 'wght' 350;
    font-optical-sizing: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif leading-tight tracking-tight drop-shadow-lg;
  }

  a {
    @apply rounded-xs no-underline focus-visible:ring-2 focus-visible:ring-black/75 focus-visible:outline-hidden dark:focus-visible:ring-white/75;
  }

  a:hover:not(:focus-visible) {
    @apply underline underline-offset-2;
  }

  strong {
    @apply font-bold;
  }

  .dot-mask {
    background-image: radial-gradient(var(--color-neutral-100) 1px, transparent 1px);
    background-size: 1rem 1rem;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-mask-image: radial-gradient(ellipse 50% 50% at 50% 50%, #000 60%, transparent 100%);
    mask-image: radial-gradient(ellipse 50% 50% at 50% 50%, #000 60%, transparent 100%);
  }
}

@utility t-shadow-sm {
  text-shadow: 0 1px 2px var(--tw-shadow-color);
}

@utility t-shadow-md {
  text-shadow: 0 2px 4px var(--tw-shadow-color);
}

@utility t-shadow-lg {
  text-shadow: 0 8px 16px var(--tw-shadow-color);
}

@utility font-thin {
  font-variation-settings: 'wght' 100;
}

@utility font-extralight {
  font-variation-settings: 'wght' 200;
}

@utility font-light {
  font-variation-settings: 'wght' 300;
}

@utility font-normal {
  font-variation-settings: 'wght' 350;
}

@utility font-medium {
  font-variation-settings: 'wght' 450;
}

@utility font-semibold {
  font-variation-settings: 'wght' 550;
}

@utility font-bold {
  font-variation-settings: 'wght' 650;
}

@utility text-wrap-balance {
  text-wrap: balance;
}

@utility form-sizing-content {
  form-sizing: content;
}

@utility mi-auto {
  margin-inline: auto;
}

@utility overflow-x-padded {
  overflow: hidden;
  width: 100vw;
  margin-left: calc((100dvw - 100%) / -2);
  padding-inline: calc((100dvw - 100%) / 2);
}

@utility overflow-section {
  width: 100dvw;
  margin-left: calc((100dvw - 100%) / -2);
  padding-inline: calc((100dvw - 100%) / 2);
}

@utility overflow-hero {
  width: 100dvw;
  margin-left: calc((100dvw - 100%) / -2);
}

@utility items-last-baseline {
  align-items: last baseline;
}
